@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #344966;
  background-color: #E6AACE;
  text-align: center;
}

label {
  margin-top: 1em;
  margin-bottom: 2em;
}

h1 {
  margin: 0;
  padding: 20px;
  font-family: 'Vidaloka', sans-serif;
  background-color: #EEC9DC;
  font-size: 36px;
}

p {
  max-width: 100vmin;
}

p.title {
  font-weight: bold;
}

input {
  padding: 4px;
  box-sizing: border-box;
  background-color: #F6E8EA;
  border: 2px solid #344966;
  border-radius: 10px;
  outline: none;
  text-align: center;
  margin-top: .5em;
  margin-bottom: 1em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background-color: #BFCC94;
  font-family: 'Poppins', sans-serif;
  color:#344966;
  border-radius: 30px;
  font-size: medium;
  margin-bottom: 1em;
}

.line {
  height: 1.5px;
  background-color: #344966; 
  width: 100%;
  margin-bottom: 20px;
}

.container {
  text-align: center;
  display: block;
  max-width: 90vmin; 
  margin: auto;
}

.input-container {
  text-align: center;
  display: inline-block;
  background-color: #EEC9DC;
  min-width: 48vw;
  padding-top: 1rem;
  border-radius: 30px;
  border: 2px solid #344966;
}